nav#sidenavAccordion.topnav.navbar.navbar-expand.shadow.justify-content-between.justify-content-sm-start.navbar-light.bg-white
  // Navbar Brand
  // * * Tip * * You can use text or an image for your navbar brand.
  // * * * * * * When using an image, we recommend the SVG format.
  // * * * * * * Dimensions: Maximum height: 32px, maximum width: 240px
  a.navbar-brand(href='index.html') Developer portal
  // Sidenav Toggle Button
  button#sidebarToggle.btn.btn-icon.btn-transparent-dark.order-1.order-lg-0.mr-lg-2
    i(data-feather='menu')
  // Navbar Items
  ul.navbar-nav.align-items-center.ml-auto
    // Navbar Search Dropdown
    // * * Note: * * Visible only below the md breakpoint
    li.nav-item.dropdown.no-caret.mr-3.d-md-none
      a#searchDropdown.btn.btn-icon.btn-transparent-dark.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        i(data-feather='search')
      // Dropdown - Search
      .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--fade-in-up(aria-labelledby='searchDropdown')
        form.form-inline.mr-auto.w-100
          .input-group.input-group-joined.input-group-solid
            input.form-control(type='text' placeholder='Search for...' aria-label='Search' aria-describedby='basic-addon2')
            .input-group-append
              .input-group-text
                i(data-feather='search')
    // Alerts Dropdown
    li.nav-item.dropdown.no-caret.d-none.d-sm-block.mr-3.dropdown-notifications
      a#navbarDropdownMessages.btn.btn-icon.btn-transparent-dark.dropdown-toggle(href='javascript:void(0);' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        i(data-feather='mail')
      .dropdown-menu.dropdown-menu-right.border-0.shadow.animated--fade-in-up(aria-labelledby='navbarDropdownMessages')
        h6.dropdown-header.dropdown-notifications-header
          i.mr-2(data-feather='mail')
          |                             Message Center
        // Example Message 1
        a.dropdown-item.dropdown-notifications-item(href='#!')
          img.dropdown-notifications-item-img(src='assets/img/illustrations/profiles/profile-2.png')
          .dropdown-notifications-item-content
            .dropdown-notifications-item-content-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .dropdown-notifications-item-content-details Thomas Wilcox &middot; 58m
        // Example Message 2
        a.dropdown-item.dropdown-notifications-item(href='#!')
          img.dropdown-notifications-item-img(src='assets/img/illustrations/profiles/profile-3.png')
          .dropdown-notifications-item-content
            .dropdown-notifications-item-content-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .dropdown-notifications-item-content-details Emily Fowler &middot; 2d
        // Example Message 3
        a.dropdown-item.dropdown-notifications-item(href='#!')
          img.dropdown-notifications-item-img(src='assets/img/illustrations/profiles/profile-4.png')
          .dropdown-notifications-item-content
            .dropdown-notifications-item-content-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .dropdown-notifications-item-content-details Marshall Rosencrantz &middot; 3d
        // Example Message 4
        a.dropdown-item.dropdown-notifications-item(href='#!')
          img.dropdown-notifications-item-img(src='assets/img/illustrations/profiles/profile-5.png')
          .dropdown-notifications-item-content
            .dropdown-notifications-item-content-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .dropdown-notifications-item-content-details Colby Newton &middot; 3d
        // Footer Link
        a.dropdown-item.dropdown-notifications-footer(href='#!') Read All Messages
    // User Dropdown
    li.nav-item.dropdown.no-caret.mr-3.mr-lg-0.dropdown-user
      a#navbarDropdownUserImage.btn.btn-icon.btn-transparent-dark.dropdown-toggle(href='javascript:void(0);' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        img.img-fluid(src='assets/img/illustrations/profiles/profile-1.png')
      .dropdown-menu.dropdown-menu-right.border-0.shadow.animated--fade-in-up(aria-labelledby='navbarDropdownUserImage')
        h6.dropdown-header.d-flex.align-items-center
          img.dropdown-user-img(src='assets/img/illustrations/profiles/profile-1.png')
          .dropdown-user-details
            .dropdown-user-details-name Valerie Luna
            .dropdown-user-details-email vluna@aol.com
        .dropdown-divider
        a.dropdown-item(href='#!')
          .dropdown-item-icon
            i(data-feather='settings')
          |                             Account
        a.dropdown-item(href='#!')
          .dropdown-item-icon
            i(data-feather='log-out')
          |                             Logout
