extends ./components/layout

block content
  main
    header.page-header.page-header-dark.bg-gradient-primary-to-secondary.pb-10
      .container
        .page-header-content.pt-4
          .row.align-items-center.justify-content-between
            .col-auto.mt-4
              h1.page-header-title
                .page-header-icon
                  i(data-feather='arrow-right-circle')
                | Template component
              .page-header-subtitle
                | Step by step template creation
    // Main page content
    .container.mt-n10
      // Wizard card example with navigation
      .card
        .card-header.border-bottom
          // Wizard navigation
          #cardTab.nav.nav-pills.nav-justified.flex-column.flex-xl-row.nav-wizard(role='tablist')
            // Wizard navigation item 1
            a#wizard1-tab.nav-item.nav-link.active(href='#wizard1' data-toggle='tab' role='tab' aria-controls='wizard1' aria-selected='true')
              .wizard-step-icon 1
              .wizard-step-text
                .wizard-step-text-name Step 1
                .wizard-step-text-details Project name and namespace
            // Wizard navigation item 3
            a#wizard2-tab.nav-item.nav-link(href='#wizard2' data-toggle='tab' role='tab' aria-controls='wizard2' aria-selected='true')
              .wizard-step-icon 2
              .wizard-step-text
                .wizard-step-text-name Step 2
                .wizard-step-text-details Tags and description
            a#wizard3-tab.nav-item.nav-link(href='#wizard3' data-toggle='tab' role='tab' aria-controls='wizard3' aria-selected='true')
              .wizard-step-icon 3
              .wizard-step-text
                .wizard-step-text-name Step 3
                .wizard-step-text-details Summary
        .card-body
          #cardTabContent.tab-content
            #wizard1.tab-pane.py-5.py-xl-10.fade.show.active(role='tabpanel' aria-labelledby='wizard1-tab')
              .row.justify-content-center
                .col-xxl-6.col-xl-8
                  h3.text-primary Step 1
                  h5.card-title Enter Template information
                  include ./components/options/template/template-settings-block-metainfo
                  +template_block_metainfo({}, true)
                  hr.my-4
                  .d-flex.justify-content-between
                    button.btn.btn-light.disabled(type='button' disabled='') Previous
                    button.btn.btn-primary(type='button') Next
            #wizard2.tab-pane.py-5.py-xl-10.fade(role='tabpanel' aria-labelledby='wizard2-tab')
              .row.justify-content-center
                .col-xxl-6.col-xl-8
                  h3.text-primary Step 2
                  h5.card-title Tags and description
                  include ./components/options/common/common-settings-block-description
                  +settings_block_description(false)
                  hr.my-4
                  .d-flex.justify-content-between
                    button.btn.btn-light(type='button') Previous
                    button.btn.btn-primary(type='button') Next
            #wizard3.tab-pane.py-5.py-xl-10.fade(role='tabpanel' aria-labelledby='wizard3-tab')
              .row.justify-content-center
                .col-xxl-6.col-xl-8
                  h3.text-primary Step 1
                  h5.card-title Template information
                  include ./components/options/template/template-settings-block-metainfo
                  +template_block_metainfo({name: true, repo: true, stream: true, project: true, namespace: true}, true)
              .row.justify-content-center
                .col-xxl-6.col-xl-8
                  h3.text-primary Step 2
                  h5.card-title Tags and description
                  include ./components/options/common/common-settings-block-description
                  +settings_block_description(true)
                  hr.my-4
                  .d-flex.justify-content-between
                    button.btn.btn-light(type='button') Previous
                    span
                      button.btn.btn-secondary.mr-1(type='button') Download
                      button.btn.btn-primary(type='button') Submit
