extends ./components/layout

block content
  main
    header.page-header.page-header-compact.page-header-light.border-bottom.bg-white.mb-4
      .container-fluid
        .page-header-content
          .row.align-items-center.justify-content-between.pt-3
            .col-auto.mb-3
              h1.page-header-title
                .page-header-icon
                  i(data-feather='info')
                | Template info
    // Main page content
    .container.mt-4
      .row
        .col-xl-4
          // Profile picture card
          .card
            .card-header-actions
              .card-header
                | Template description
                a(href="#")
                  i(data-feather='edit')

            .card-body.text-center
              H2 Auth service template
              p service description in README.md

        .col-xl-8
          // Account details card
          .card.mb-4
            .card-header Template details
            .card-body
              form
                .form-group
                  label.small.mb-1 Template name
                  input.form-control(type='text' value='my service' disabled=true)
                .form-group
                  label.small.mb-1 Namespace
                  input.form-control(type='text' value="DSO" disabled=true)
                .form-group
                  label.small.mb-1 Repository url
                  input.form-control(type='text' value='git://my_repo' disabled=true)
                .form-group
                  label.small.mb-1 Stream
                  input.form-control(type='text' value='core stream' disabled=true)

                hr.my-4
                h5 Tags
                .form-group
                  button.btn.btn-secondary.mr-2 Spring
                  button.btn.btn-secondary.mr-2 Java

                hr.my-4
                .d-flex.justify-content-between
                  a.btn.btn-primary(href='components-update-template.html') Update info
                  button.btn.btn-danger(type='button') Unregister template
