extends ./components/layout

block content
  main
    header.page-header.page-header-dark.bg-gradient-primary-to-secondary.pb-10
      .container
        .page-header-content.pt-4
          .row.align-items-center.justify-content-between
            .col-auto.mt-4
              h1.page-header-title
                | Components catalog
    // Main page content
    .container.mt-n10
      .card.card-header-actions.mb-4
        .card-body
          .datatable
            table#dataTable.table.table-bordered.table-hover(width='100%' cellspacing='0')
              thead
                tr
                  th Name
                  th Stream
                  th Project
                  th Type
                  th Version
                  th Tags
                  th Maintainer
              tfoot
                tr
                  th Name
                  th Stream
                  th Project
                  th Type
                  th Version
                  th Tags
                  th Maintainer
              tbody
                tr
                  td
                    a(href="components-description-service.html") Auth service
                  td Core
                  td Basic auth
                  td Service
                  td 0.1.0
                  td
                    .badge.badge-primary.badge-pill core
                    .badge.badge-primary.badge-pill auth
                  td Adam Smith

                tr
                  td
                    a(href="components-description-library.html") Lombok
                  td Support
                  td Core
                  td Library
                  td 0.0.1
                  td
                    .badge.badge-primary.badge-pill core
                    .badge.badge-primary.badge-pill lib
                  td Peter Griffin

                tr
                  td
                    a(href="components-description-template.html") Java-sprint-rest-api
                  td Billing
                  td Core
                  td Template
                  td 0.1.1
                  td
                    .badge.badge-primary.badge-pill core
                    .badge.badge-primary.badge-pill billing
                  td Homer Simpson
