extends ./components/layout

block content
  main
    header.page-header.page-header-compact.page-header-light.border-bottom.bg-white.mb-4
      .container-fluid
        .page-header-content
          .row.align-items-center.justify-content-between.pt-3
            .col-auto.mb-3
              h1.page-header-title
                .page-header-icon
                  i(data-feather='info')
                | Service info
    // Main page content
    .container.mt-4
      // Account page navigation
      nav.nav.nav-borders
        a.nav-link(href='components-description-service.html') Info
        a.nav-link(href='components-description-service-library-analyzer.html') Library Analyzer
        a.nav-link.active.ml-0(href='components-description-service-CI.html') CI
        a.nav-link(href='components-description-service-trail.html') Trail
      hr.mt-0.mb-4
      .row
        .card.mb-4
          .card-header CI jobs result
          .card-body
            .table-responsive
              table.table.table-borderless.mb-0
                thead.border-bottom
                  tr.small.text-uppercase.text-muted
                    th(scope='col') Branch
                    th.text-right(scope='col') start time
                    th.text-right(scope='col') build lasts
                    th.text-right(scope='col') Commit
                    th.text-right(scope='col') Contributor
                    th.text-right(scope='col') Status
                tbody
                  // Invoice item 1
                  tr.border-bottom
                    td
                      .font-weight-bold
                        a(href="") Develop
                    td.text-right.font-weight-bold 14.01.2020 10:40
                    td.text-right.font-weight-bold 5 min
                    td.text-right.font-weight-bold
                      a(href="#") 7823d34b2
                    td.text-right.font-weight-bold user@company.com
                    td.text-right.font-weight-bold
                      a(href="#").badge.badge-success build success

                  tr.border-bottom
                    td
                      .font-weight-bold
                        a(href="") Stage
                    td.text-right.font-weight-bold 14.01.2020 11:20
                    td.text-right.font-weight-bold 5 min
                    td.text-right.font-weight-bold
                      a(href="#") 456c9a12
                    td.text-right.font-weight-bold user2@company.com
                    td.text-right.font-weight-bold
                      a(href="#").badge.badge-danger build failed
                  // Invoice item 3
                  tr.border-bottom
                    td
                      .font-weight-bold
                        a(href="") Prod
                    td.text-right.font-weight-bold 14.01.2020 13:50
                    td.text-right.font-weight-bold 7 min
                    td.text-right.font-weight-bold
                      a(href="#") 797b433c
                    td.text-right.font-weight-bold user2@company.com
                    td.text-right.font-weight-bold
                      a(href="#").badge.badge-success build success
                  tr
                    td.text-right.pb-0(colspan='5')
                      .text-uppercase.small.font-weight-700.text-muted Failed:
                    td.text-right.pb-0
                      .h5.mb-0.font-weight-700.text-danger 1
                  // Invoice total
                  tr
                    td.text-right.pb-0(colspan='5')
                      .text-uppercase.small.font-weight-700.text-muted Success:
                    td.text-right.pb-0
                      .h5.mb-0.font-weight-700.text-success 2
