extends ./components/layout

block content
    main
        header.page-header.page-header-dark.bg-gradient-primary-to-secondary.mb-5
            .container
                .page-header-content.pt-4
                    .row.align-items-center.justify-content-between
                        .col-auto.mt-4
                            h1.page-header-title
                                .page-header-icon
                                    i(data-feather='arrow-right-circle')
                                | Create component
                            .page-header-subtitle Create options
        .container
            .pricing-detailed
                .row.align-items-center.no-gutters
                    .col-lg-6.z-1.mb-4.mb-lg-0
                        .card.text-center.border-0
                            .card-header.bg-transparent.justify-content-center.py-4
                                h5.text-primary.mb-0 Standard
                            .card-body.p-5
                                p.lead
                                    | Create a single service
                            a.card-footer.d-flex.align-items-center.justify-content-center(href='components-create-service-plain.html')
                                | Create
                                i.ml-2(data-feather='arrow-right')
                    .col-lg-6
                        .card.bg-dark.text-center.pricing-detailed-behind
                            .card-header.justify-content-center.py-4
                                h5.mb-0.text-white IServer
                            .card-body.text-white-50.p-5
                                | Create a bunch of services from IServer definition
                            a.card-footer.bg-gray-800.text-white.d-flex.align-items-center.justify-content-center(type='button', data-toggle='modal', data-target='#uploadIserverModal', href="#")
                                | Create from file
                                i.ml-2(data-feather='arrow-right')


                        //- Modal
                        #uploadIserverModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='uploadIserverModalLabel', aria-hidden='true')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header
                                        h5#uploadIserverModalLabel.modal-title Upload window
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                            span(aria-hidden='true') ×
                                    .modal-body.text-center
                                        | Drop file here
                                    .modal-footer
                                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                                        a.btn.btn-primary(href='components-create-service-iserver.html') Upload
