doctype html
include ./components/head
#layoutAuthentication
    #layoutAuthentication_content
        main
            .container
                .row.justify-content-center
                    .col-lg-5
                        // Basic login form
                        .card.shadow-lg.border-0.rounded-lg.mt-5

                            .card-header.justify-content-center
                                h3.text-center.font-weight-light.my-4 Login
                            .row
                                .col-sm-4
                                    hr.border-0
                                    .timeline
                                        .timeline-item
                                            .timeline-item-marker
                                                .timeline-item-marker-text
                                                    | AD
                                                .timeline-item-marker-indicator.text-success
                                                    i(data-feather='check')
                                            .timeline-item-content
                                                | &nbsp
                                        .timeline-item
                                            .timeline-item-marker
                                                .timeline-item-marker-text
                                                    | BitBucket
                                                .timeline-item-marker-indicator
                                                    i(data-feather='check')
                                            .timeline-item-content
                                                | &nbsp
                                        .timeline-item
                                            .timeline-item-marker
                                                .timeline-item-marker-text
                                                    | TeamCity
                                                .timeline-item-marker-indicator
                                                    i(data-feather='check')
                                            .timeline-item-content
                                                | &nbsp
                                .col-sm-8
                                    .card-body
                                        // Login form
                                        form
                                            // Form Group (email address)
                                            .form-group
                                                label.small.mb-1(for='inputEmailAddress') Email
                                                input#inputEmailAddress.form-control(type='email' placeholder='Enter email address')
                                            // Form Group (password)
                                            .form-group
                                                label.small.mb-1(for='inputPassword') Password
                                                input#inputPassword.form-control(type='password' placeholder='Enter password')
                                            // Form Group (remember password checkbox)
                                            .form-group
                                                .custom-control.custom-checkbox
                                                    input#rememberPasswordCheck.custom-control-input(type='checkbox')
                                                    label.custom-control-label(for='rememberPasswordCheck') Remember password
                                            // Form Group (login box)
                                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                                a.btn.btn-primary(href='index.html') Login
    include ./components/footer
include ./components/scripts
