extends ./components/layout

block content
    main
        header.page-header.page-header-compact.page-header-light.border-bottom.bg-white.mb-4
            .container-fluid
                .page-header-content
                    .row.align-items-center.justify-content-between.pt-3
                        .col-auto.mb-3
                            h1.page-header-title
                                .page-header-icon
                                    i(data-feather='settings')
                                | SUBO credentials
        // Main page content
        .container.mt-4
            .row.col-xl-6


                .card.mb-4.w-100
                    .card-header.border-bottom-0 SUBO Billing
                    .row
                        .col-xl-3
                            hr.my-4.border-0
                            .list-group.list-group-flush.small
                                a.list-group-item.list-group-item-action(href='#!')
                                    i.fa-fw.text-blue.mr-2(data-feather='circle')
                                    | SUBO Billing
                                a.list-group-item.list-group-item-action(href='#!')
                                    i.fa-fw.text-orange.mr-2(data-feather='circle')
                                    | SUBO core
                        .col-xl-9
                            .card-body.border-left
                                form
                                    h5 Bitbucket
                                    .form-group
                                        label.small.mb-1(for='inputBibucketLogin') Login
                                        input#inputBibucketLogin.form-control(type='text' value='user@user.com')
                                    .form-group
                                        label.small.mb-1(for='inputBibucketToken') Token
                                        .input-group.input-group-joined
                                            input#inputBibucketToken.form-control(type='text', placeholder='xxx-xxx', value="xxx-xxx")
                                            span.input-group-text.addon.border-0
                                                i(data-feather='eye-off')


                                    hr.border-0
                                    h5 TeamCity
                                    .form-group
                                        label.small.mb-1(for='inputTeamCityLogin') Login
                                        input#inputTeamCityLogin.form-control(type='text' value='user@user.com')
                                    .form-group
                                        label.small.mb-1(for='inputTeamCityToken') Token
                                        .input-group.input-group-joined
                                            input#inputTeamCityToken.form-control(type='text', placeholder='xxx-xxx', value="123-456")
                                            span.input-group-text.addon.border-0
                                                i(data-feather='eye')

                                    hr.border-0
                                    h5 OpenShift
                                    .form-group
                                        label.small.mb-1(for='inputOpenshiftLogin') Login
                                        input#inputOpenshiftLogin.form-control(type='text' value='user@user.com')
                                    .form-group
                                        label.small.mb-1(for='inputOpenshiftToken') Token
                                        .input-group.input-group-joined
                                            input#inputOpenshiftToken.form-control(type='text', placeholder='xxx-xxx', value="xxx-xxx")
                                            span.input-group-text.addon.border-0
                                                i(data-feather='eye-off')

                                    hr.my-4
                                    .d-flex.justify-content-between
                                        button.btn.btn-primary Update info
