mixin settings_block_persmissions(isDisabled)
    form
        .form-group
            label.small.mb-1(for='inputUserIds') User Group (SUBO)
            .input-group.input-group-joined
                .input-group-prepend
                    if !isDisabled
                        span.input-group-text
                            i(data-feather='search')
                input#inputUserIds.form-control(type='text', placeholder='search group by name...', aria-label='Search' disabled=isDisabled)
                if !isDisabled
                    span.input-group-text.addon.border-0
                        i(data-feather='info')
        .form-group
            button.btn.btn-primary.mr-2 Auth group
                span.badge.badge-white.ml-2 x
            button.btn.btn-primary.mr-2 Infrastructure group
                span.badge.badge-white.ml-2 x
